#galleryContainer {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galleryImgs {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px 0;
    cursor: pointer;
}

.modal-dialog {
    max-width: fit-content !important;
}

.fullImage {
    width: 850px;
}

@media only screen and (max-width : 1124px) {
    .fullImage {
        width: 650px;
    }
    .galleryImgs {
        width: 230px;
        height: 130px;
        object-fit: cover;
        margin: 10px 0;
        cursor: pointer;
    }
}

@media only screen and (max-width : 700px) {
    .fullImage {
        width: 400px;
    }
    .modal-dialog {
        width: 90% !important;
        margin: auto !important;
        margin-top: 60px !important;
    }
}
